@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body,div,p,img,header,h1,a,ul,li,nav,h2,video,source,h3,figure,figcaption,span,strong,footer,h4{
    margin:0;
    padding:0;
}
header,nav{
    display:block;
}
body{
    font:normal 13px/1.5em 'Noto Sans KR', sans-serif;
    color:#333333;
}
ul,li{
    list-style:none;
}
a{
    text-decoration:none;
}
input,button,textarea{
    outline:none;
}